

doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title First Pug Template 
    body


        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    header.card-header
                        h4.card-title THE ASSINGMENT
                form(action="#" method="post")
                    div.form-row
                        div.col.form-group
                            p thank your for reporting the case we are in the process of
                            | taking actions basing on hte information you have  
                           
